header {
  width: 100%;
  border-bottom: solid whitesmoke;
  padding: 0px 0 5px 0px;
  margin: 0 0 50px 0;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 24px;
}
header {
    font-size: 18px;
}

body {
    background-color: rgb(2, 40, 36);
    font: 18px;
}
h1 {
    color: rgb(162, 163, 161);
    font-size: x-large;
}
h2 {
    color: whitesmoke;
    font-size: 24px;
}

h3 {
    color: whitesmoke;
    font-size: 22px;
}
p, pre {
    color:whitesmoke;
    font-size: 18px;
}
blockquote, cite, ul {
    color:whitesmoke;
    font-size: 18px;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}
div#navbar {
    color: rgb(230, 233, 227);
}
div#navbar a, a, a:visited {
    color: rgb(230, 233, 227);
    text-decoration: none;
    text-decoration-line: none;
}

div#navbar a:hover, a:hover {
  text-decoration: underline;
}