:root {
    --bg: midnightblue;
    --txtColor: aliceblue;
    --h1Color: rgb(162, 163, 161);
    --h3Color: aliceblue;
    --linesColor: aliceblue;
    --tableTextHoverColor: midnightblue;
    --tableCellHoverColor: aliceblue;
}
/*
:root.light-mode {
    --bg: burlywood ;
    --txtColor: chocolate;
    --h1Color: peachpuff;
    --h3Color: chocolate;
    --linesColor: chocolate;
}
*/
:root.light-mode {
    --bg: tan  ;
    --txtColor: sienna;
    --h1Color: wheat;
    --h3Color: sienna;
    --linesColor: sienna;
    --tableTextHoverColor: tan;
    --tableCellHoverColor: sienna;
}

header {
  width: 100%;
  text-align: center;
  border-bottom: solid var(--linesColor);
  padding: 0px 0 5px 0px;
  margin: 0 0 50px 0;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 24px;
}

header {
    font-size: 16px;
}

body {
    /* background-color: rgb(39, 26, 23); 
    /* background-color: rgb(2, 40, 36); */
    background-color: var(--bg);
    color: var(--txtColor);
    text-align: justify;
    font: 16px;
    font-family: sans-serif;
    line-height: 125%;
}

.voc_table th,
.voc_table td {
    border: 1px solid var(--txtColor);
    border-width: 1px;
    padding: 3px;
}
.voc_table tr:hover {
    background-color: var(--tableCellHoverColor);
    color: var(--tableTextHoverColor);
}
.recipe_table th,
.recipe_table td {
    background-color: var(--bg);
    color: var(--txtColor);
    border: 1px solid var(--txtColor);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.recipe_table,
.voc_table {
    border-collapse: collapse;
}

h1 {
    color: var(--h1Color);
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: var(--h3Color);
    font-size: 22px;
}

p {
    font-size: 16px;
}

pre {
    font-size: 1.2vw;
}

blockquote, cite, ul {
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}
.container-buttons {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.button-hearsay {
    cursor: pointer;
    background-color: var(--bg);
    border: 1px solid;
    border-color: var(--linesColor);
    color: var(--txtColor);
    padding: 0.25em 0.45em;
    position: relative;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px;
}

.button-hearsay:active {
  box-shadow: 0px 0px 0px 0px;
  top: 2px;
  left: 2px;
}

.ascii-art {
    width: 60%;
    max-width: 800px;
    margin: auto;
    line-height: normal;
    font-family: monospace;
}
.ascii-art-wiz {
    width: 60%;
    max-width: 800px;
    margin: auto;
    line-height: normal;
    font-family: monospace;
    text-align: center;
}

div#navbar {
    color: var(--linesColor);
}
div#navbar a, a, a:visited {
    color: var(--linesColor);
    text-decoration: none;
    text-decoration-line: none;
}

div#navbar a:hover, a:hover {
  text-decoration: underline;
}