header {
  width: 100%;
  text-align: center;
  border-bottom: solid aliceblue;
  padding: 0px 0 5px 0px;
  margin: 0 0 50px 0;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 24px;
}

header {
    font-size: 16px;
}

body {
    /* background-color: rgb(39, 26, 23); 
    /* background-color: rgb(2, 40, 36); */
    background-color: midnightblue;
    color: aliceblue;
    text-align: justify;
    font: 16px;
    font-family: sans-serif;
    line-height: 125%;
}

h1 {
    color: rgb(162, 163, 161);
    font-size: x-large;
}

h2 {
    font-size: 24px;
}

h3 {
    color: aliceblue;
    font-size: 22px;
}

p {
    font-size: 16px;
}

pre {
    font-size: 1.15vw;
}

blockquote, cite, ul {
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

div#navbar {
    color: aliceblue;
}
div#navbar a, a, a:visited {
    color: aliceblue;
    text-decoration: none;
    text-decoration-line: none;
}

div#navbar a:hover, a:hover {
  text-decoration: underline;
}