header {
  width: 100%;
  text-align: center;
  border-bottom: solid aliceblue;
  padding: 0px 0 5px 0px;
  margin: 0 0 50px 0;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 24px;
}

header {
    font-size: 16px;
}

body {
    /* background-color: rgb(39, 26, 23); 
    /* background-color: rgb(2, 40, 36); */
    background-color: midnightblue;
    color: aliceblue;
    text-align: justify;
    font: 16px;
    font-family: sans-serif;
    line-height: 125%;
}

table, th, td, tr {
    border-bottom-style: solid;
    border-width: 1px;
    padding: 3px;
}

.recipe_table, tr, th, td {
            border: 1px solid aliceblue;
            border-collapse: collapse;
            padding: auto;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
}

h1 {
    color: rgb(162, 163, 161);
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: aliceblue;
    font-size: 22px;
}

p {
    font-size: 16px;
}

pre {
    font-size: 1.2vw;
}

blockquote, cite, ul {
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}
.ascii-art {
    width: 60%;
    max-width: 800px;
    margin: auto;
    line-height: normal;
    font-family: monospace;
}
.ascii-art-wiz {
    width: 60%;
    max-width: 800px;
    margin: auto;
    line-height: normal;
    font-family: monospace;
}

@media screen and (max-width: 768px) {
    .ascii-art-wiz {
        width: 90%; /* Increase width on smaller screens */
        font-size: 1.2em;
    }
}

div#navbar {
    color: aliceblue;
}
div#navbar a, a, a:visited {
    color: aliceblue;
    text-decoration: none;
    text-decoration-line: none;
}

div#navbar a:hover, a:hover {
  text-decoration: underline;
}